---
layout: page
title: About Us
---
<!-- about-info -->
<section class="about-info pt-100">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="about-info-text">
                    <h2>Our Mission</h2>
                    <p>We aim to see the world more clearly through advanced analytics. Our work with energy, environmental, and public safety clients has shown that bringing modern data analytics and visualization into business processes helps everyone make smarter resource allocation decisions.</p>
                    <div class="info-img">
                        <img src="{{site.baseurl}}/assets/img/team/team-collage.jpg" class="img-fluid" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- about-area -->
{% include about.html %}
{% include affiliations.html %}
