<div id="about" class="slide container-fluid bg-white">
    <div class="fullImageCali row">



        <div class="row text-white">




            <div class="fullImageBrazil pad4y">


                <div class="pad4x small text-center pad4y">
                    <p> We aim to see the world more clearly through advanced analytics. Our work with energy, environmental, and public safety clients has shown that bringing modern data analytics and visualization into business processes helps us make smarter resource allocation decisions. </p>
                    <p> <em>That's what we're passionate about, and that's what we're here to help you accomplish.</em> </p>
                </div>
            </div>
        </div>


        <div class="col-sm-10 col-sm-offset-1 pasd1">

                <div class="redHeading text-center red">
            <span style="background:#E8E8E8">Our Story</span>
        </div>


            <div class="text-white pad4y lead">
                <p>
                    Azimuth1 is a small but fast moving team of data analytics and computer science experts on a mission to bring specialty data analysis applications to environmental, energy, and public safety challenges. Our products are used by Fortune 500 companies, government agencies, and emergency first responders to make better decisions faster.
                </p>
                <p>
                    The tools of our trade are typically statistical learning methods, geospatial data modeling and GIS, and interactive data visualization on the web using primarily open source libraries and very often open source data. 
                    Our philosophy on our products leans more toward customization than generic tools because we've observed that each industry has its own terminology, practices, assumptions, and way of approaching a problem. In order to solve a problem it helps to engage fully with those that are knee deep in it, so we jump in with them and try to build a solution that fits that industry rather than build one solution for everyone.
                     We belive your industry deserves its own tailored fit. Ultimately the product is far better and the adoption rate has been far more solid with the industry tailored approach. The problems we aimed to solve get solved quicker too.
                </p>
                <p>
                    We hope you'll get in touch with us if you're interested in partnering on your next project or if you'd just like to hash out some interesting ideas. If you're interested in a career with Azimuth1, drop us a note at contact@azimuth1.com and let us know. We'll be in touch with a list of really hard problems we're working to solve.
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="redHeading text-center red">
            <span style="background:#E8E8E8">The Team</span>
        </div>
        <p class="small pad0 text-center">We are always looking for smart, motivated, and creative individuals to join our growing team. Feel free to reach out to us at anytime at <a href="mailto:contact@azimuth1.com">contact@azimuth1.com</a>!</p>
        <div class="col-md-12">
            <hr class="mar00">
        </div>
        <div class="col-md-12">
            {% for author in site.data.authors %} {% assign person = author[1] %} {% include userProfile.html %} {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <div class="section-title col-md-8 col-md-offset-2">
                <h1 class=" title-heading fit-text " style="font-size: 30px;">Contact Us</h1>
            </div>
        </div>
        <div class="col-md-12 text-center">
            <address>
                contact@azimuth1.com
                <br> 501 Church St, NE
                <br> Suite 300
                <br> Vienna, VA 22180
            </address>
        </div>
    </div>
</div>
