<section class="about-area pb-60 pt-100">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 mb-40">
              <div class="section-title">
                  <h2>About Us</h2>
              </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-9 col-lg-9 mb-40">
                <div class="about-content">
                    <p>Azimuth1 is a fast moving team of data analytics and computer science experts on a mission
                      to bring specialty data analysis applications to environmental, public safety, and national
                      security challenges. Our products are used by Fortune 500 companies, government agencies, and
                      emergency first responders to make better decisions faster. </p>
                    <p>The tools of our trade are typically statistical learning methods, geospatial data modeling
                      and GIS, and interactive data visualization on the web leveraging open source software
                      throughout our process. </p>
                    <p>Our philosophy is that we should spend our efforts customizing tools
                      and methods to suit particular industries rather than build generic tools to try to suit
                      everyone. We recognize that each industry has its own terminology, practices, assumptions,
                      and way of approaching a problem. In order to solve a problem it helps to engage fully with
                      those that are knee deep in it, so we jump in with our customers and try to build a solution that fits
                      that industry rather than build one solution for everyone. We belive your industry deserves
                      its own tailored fit.
                      </p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 mb-20 md-margin">
                    <img src="{{site.baseurl}}/assets/img/about/about2.jpg" class="img-fluid" alt="">
            </div>
        </div>
    </div>
</section>
