<div id="about" class="slide">
    <div class="container">
        <div class="footer_top" id="about">
            <div class="col-md-6 border_bg">
                <h5 class="load_heading">ABOUT AZIMUTH1</h5> <img src="{{ site.baseurl }}/images/load.png" alt="" class="load_img">
                <p class="load_text"> We aim to see the world more clearly through advanced analytics. Our work with energy, environmental, logistics and security clients has shown that collecting and analyzing data in real time is an untapped source of efficiency for enterprise organizations. Our mechanism for making that possible is to bring the modern data science capabilities of big data architectures, statistical predictive modeling, and advanced interactive data visualization to help our customers make smarter resource allocation decisions. </p>
                <p class="load_text"> <em>That's what we're passionate about, and that's what we're here to help you accomplish.</em> </p> <a href="" class="load_anchor">Find out more</a> </div>
            <div class="col-md-6 border_bg">
                </br> <a class="twitter-timeline" href="https://twitter.com/Azimuth1Tech" data-widget-id="425307765049815040">Tweets by @Azimuth1Tech</a> </div>
        </div>
    </div>
</div>