<div id="affiliates" class="slide container-fluid bg-green">
    <div class="row redHeading text-center red">
        <span style="background:#E8E8E8">Groups and Affiliations</span>
    </div>
     <div class="mar2 row">
        <div class="col-md-2">
            <a href="http://www.informs.org">
                <div class="text-green text-capitalize">
                	<img src="images/informs_logo.png">
                </div>
            </a>
        </div>
        <div class="col-md-2">
            <a href="http://www.datacommunitydc.org/data-science-dc/">
                <div class="text-green text-capitalize">
                	<img src="images/dsdc_logo.png">
                </div>
            </a>
        </div>
        <div class="col-md-2">
            <a href="http://www.nvtc.org">
                <div class="text-green text-capitalize">
                	<img src="images/nvtc_logo.png">
                </div>
            </a>
        </div>
        <div class="col-md-2">
            <a href="http://www.vistage.com">
                <div class="text-green text-capitalize">
                	<img src="images/vistage_logo.png">
                </div>
            </a>
        </div>
        <div class="col-md-2">
            <a href="http://www.vamlis.org">
                <div class="text-green text-capitalize">
                	<img src="images/vamlis_logo.png">
                </div>
            </a>
        </div>
    </div>
    <hr> 
</div>
