<div class="clients-area pt-50 pb-50">
    <div class="container">
      <div class="row">
          <div class="col-xl-12 text-center pb-40">
              <div class="section-title service-title">
                  <h3>GROUPS AND AFFILIATIONS</h3>
                  <p>We maintain active memberships and leadership roles in organizations that shape the future of our industry.</p>
              </div>
          </div>
      </div>
        <div class="row">
            <div class="clients-active owl-carousel">
                <div class="col-sm-12">
                    <div class="single-clients">
                        <a href="https://www.informs.org/" target="_blank"><img src="{{site.baseurl}}/assets/img/associations/informs_logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="single-clients">
                        <a href="https://www.datacommunitydc.org/data-science-dc" target="_blank"><img src="{{site.baseurl}}/assets/img/associations/dsdc_logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="single-clients">
                        <a href="https://www.nvtc.org/" target="_blank"><img src="{{site.baseurl}}/assets/img/associations/nvtc_logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="single-clients">
                        <a href="https://www.vamlis.org/" target="_blank"><img src="{{site.baseurl}}/assets/img/associations/vamlis_logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="single-clients">
                        <a href="https://www.vistage.com/" target="_blank"><img src="{{site.baseurl}}/assets/img/associations/vistage_logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="single-clients">
                        <a href="https://cartogis.org/" target="_blank"><img src="{{site.baseurl}}/assets/img/associations/cagis_logo.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
