<div id="affiliates" class="slide container-fluid bg-green">
    <div class="row redHeading text-center red">
        <span style="background:#E8E8E8">Groups and Affiliations</span>
    </div>
     <div class="mar2 row" style="background-position: right;">
        <div class="col-sm-10 pad2y" style="background:#eee">
            <a href="http://www.vistage.com">
                <div class="text-green text-capitalize">
                	<img src="images/informs_logo.png">
                </div>
            </a>
            <a href="http://www.vistage.com">
                <div class="text-green text-capitalize">
                	<img src="images/dsdc_logo.png">
                </div>
            </a>
            <a href="http://www.vistage.com">
                <div class="text-green text-capitalize">
                	<img src="images/nvtc_logo.png">
                </div>
            </a>
            <a href="http://www.vistage.com">
                <div class="text-green text-capitalize">
                	<img src="images/vistage_logo.png">
                </div>
            </a>
            <a href="http://www.vistage.com">
                <div class="text-green text-capitalize">
                	<img src="images/vamlis_logo.png">
                </div>
            </a>
        </div>
    </div>
    <hr> 
</div>
