<div class="clients-area pt-50 pb-50">
    <div class="container">
        <div class="row">
            <div class="clients-active owl-carousel">
                <div class="col-sm-12">
                    <div class="single-clients">
                        <h3>Unlimited leave time</h3>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="single-clients">
                        <h3>Generous 401-K match</h3>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="single-clients">
                        <h3>Flexible work schedule</h3>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="single-clients">
                        <h3>Work from anywhere</h3>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="single-clients">
                        <h3>Important missions</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
