<div id="about" class="slide container-fluid bg-white">
  <div class="row">
    <div class="redHeading text-center red">
      <span style="background:#E8E8E8">Careers at Azimuth1</span>
    </div>
    <p><a href="http://azm1.co/DataScienceJob">Senior Data Scientist</a></p>
    <p><a href="http://azm1.co/MobileDevJob">Mobile Platform Developer</a></p>
    <p><a href="http://azm1.co/FullStackJob">Full Stack JS Developer</a></p>
    <p class="small pad0 text-center">We are always looking for smart, motivated, and creative individuals to join our growing team. Feel free to reach out to us at anytime at <a href="mailto:contact@azimuth1.com">contact@azimuth1.com</a>!</p>
    <div class="col-md-12">
      <hr class="mar00">
    </div>
  </div>
</div>
