<div id="affiliates" class="slide container-fluid bg-green">
    <div class="row redHeading text-center red">
        <!-- Do not change the code! -->
        <a id="foxyform_embed_link_819402" href="http://www.foxyform.com/">foxyform</a>
        <script type="text/javascript">
        (function(d, t) {
            var g = d.createElement(t),
                s = d.getElementsByTagName(t)[0];
            g.src = "http://www.foxyform.com/js.php?id=819402&sec_hash=057358bf372&width=350px";
            s.parentNode.insertBefore(g, s);
        }(document, "script"));
        </script>
        <!-- Do not change the code! -->
    </div>
</div>
