<div id="contact" class="slide container-fluid bg-white">
    <div class="row redHeading text-center red">
        <span style="background:#E8E8E8">Contact Us</span>
    </div>
    <div class="col-md-4">
        <h3 class="section-title"> </h3>
    </div>
    <div class="col-md-2">
        <h3 class="section-title">Learn more about our services, and sign up for demos of our products.</h3>
    </div>
    <div class="col-md-6">
        <form method="POST" action="http://formspree.io/contact@azimuth1.com">
            <input type="email" name="email" placeholder="Your email">
            <textarea name="message" placeholder="Your message"></textarea>
            <button type="submit">Send</button>
        </form>
    </div>
</div>
