<div id="contact" class="slide container-fluid bg-white">
    <div class="row redHeading text-center red">
        <span style="background:#E8E8E8">Contact Us</span>
    </div>
    <div class="col-md-4">
        <h3 class="section-title"> </h3>
    </div>
    <div class="col-md-2">
        <h3 class="section-title">Learn more about our services, and sign up for demos of our products.</h3>
    </div>
    <div class="col-md-6">
    <!--[if lte IE 8]>
    <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
    <![endif]-->
    <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
    <script>
        hbspt.forms.create({ 
            css: '',
            portalId: '1981944',
            formId: 'f01a1f22-6f92-46fe-998f-82a8d7e3696c'
        });
    </script>
        <!--
        <form method="POST" action="http://formspree.io/contact@azimuth1.com">
            <input type="email" name="email" placeholder="Your email"></br>
            <textarea name="message" placeholder="Your message"></textarea></br>
            <button type="submit">Send</button>
        </form>
        -->
    </div>
</div>




