<div class="slide container-fluid red">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <ul class="list-inline text-center">
                {% if site.twitter_username %}
                <li>
                    <a href="https://twitter.com/{{ site.twitter_username }}">
                        <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                            </span>
                    </a>
                </li>
                {% endif %} {% if site.linkedin_username %}
                <li>
                    <a href="https://www.linkedin.com/{{ site.linkedin_username }}">
                        <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                            </span>
                    </a>
                </li>
                {% endif %} {% if site.github_username %}
                <li>
                    <a href="https://github.com/{{ site.github_username }}">
                        <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                            </span>
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 small text-center pad0y">Copyright&copy; 2017 - Azimuth1 - <a href="https://map.what3words.com/notice.island.castle"><i class="fa fa-map-marker" style="color:#700" aria-hidden="true"></i>
        </a></div>
    </div>
</div>
