<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="images/Azimuth1_icon.png">

    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title> 
 

    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{{ site.baseurl }}/styles/styles.css">

    <!--
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
-->
    <link rel="stylesheet" href="{{ site.baseurl }}/styles/common.css">
    <!--
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
        <link rel="stylesheet" href="{{ site.baseurl }}/styles/bootstrap/jumbotron.css" />
        <link rel="stylesheet" href="{{ site.baseurl }}/styles/common.css">
        <link rel="stylesheet" href="{{ site.baseurl }}/scripts/isotope/css/style.css" />
        <link rel="stylesheet" href="{{ site.baseurl }}/scripts/slider/responsiveslides.css">
        <link rel="stylesheet" href="{{ site.baseurl }}/scripts/slider/demo.css">
-->

    <!-- <script src="{{ site.baseurl }}/scripts/slider/responsiveslides.min.js"></script>-->
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-52dff7c234c96acc"></script>
    <!--<script src="{{ site.baseurl }}/scripts/isotope/jquery.isotope.min.js"></script>-->
    <script type='text/javascript' src='{{ site.url }}/js/main.js'></script>

</head>
