<section class="portfoilo-area grey-bg pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 text-center pb-40 ">
                <div class="section-title service-title">
                    <h2>OUR PRODUCTS AND SERVICES</h2>
                </div>
            </div>
        </div>
        <!-- <div class="row">
            <div class="col-lg-12 text-center">
                <div class="portfolio-menu mb-55">
                    <button class="active" data-filter="*">all</button>
                    <button class="p-item" data-filter=".cat-one">printing</button>
                    <button class="p-item" data-filter=".cat-two">illustration</button>
                    <button class="p-item" data-filter=".cat-three">photography</button>
                    <button class="p-item" data-filter=".cat-four">presentation</button>
                </div>
            </div>
        </div> -->
        <div class="row portfolio-active">
            <div class="col-xl-4 col-lg-4 col-md-6 mb-30 grid-item cat-two">
                <div class="portfolio-wrapper">
                    <div class="portfolio-thumb">
                        <img src="{{site.baseurl}}/pics/gallery/find.png" class="img-fluid" alt="">
                    </div>
                    <div class="portfolio-content">
                        <h5><a href="#">SEARCH & RESCUE MISSION TOOLS</a></h5>
                        <span>&nbsp;</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 mb-30 grid-item cat-four cat-one">
                <div class="portfolio-wrapper">
                    <div class="portfolio-thumb">
                        <img src="{{site.baseurl}}/pics/gallery/sarcat.png" class="img-fluid" alt="">
                    </div>
                    <div class="portfolio-content">
                        <h5><a href="#">OPEN SOURCE SEARCH & RESCUE INCIDENT RECORDS MANAGEMENT</a></h5>
                        <span>&nbsp;</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 mb-30 grid-item cat-one cat-five">
                <div class="portfolio-wrapper">
                    <div class="portfolio-thumb">
                        <img src="{{site.baseurl}}/pics/gallery/lpb.png" class="img-fluid" alt="">
                    </div>
                    <div class="portfolio-content">
                        <h5><a href="#">SEARCH & RESCUE FIELD GUIDE FOR FIRST RESPONDERS</a></h5>
                        <span>&nbsp;</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 mb-30 grid-item cat-four">
                <div class="portfolio-wrapper">
                    <div class="portfolio-thumb">
                        <img src="{{site.baseurl}}/pics/gallery/spatialize.png" class="img-fluid" alt="">
                    </div>
                    <div class="portfolio-content">
                        <h5><a href="#">GEODATA AT YOUR FINGERTIPS</a></h5>
                        <span>&nbsp;</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 mb-30 grid-item cat-three cat-one">
                <div class="portfolio-wrapper">
                    <div class="portfolio-thumb">
                        <img src="{{site.baseurl}}/pics/gallery/lfmm.png" class="img-fluid" alt="">
                    </div>
                    <div class="portfolio-content">
                        <h5><a href="#">SHORT TERM LIQUID FUEL MARKET MODELLING</a></h5>
                        <span>&nbsp;</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 mb-30 grid-item cat-four cat-five">
                <div class="portfolio-wrapper">
                    <div class="portfolio-thumb">
                        <img src="{{site.baseurl}}/pics/gallery/fireroute.png" class="img-fluid" alt="">
                    </div>
                    <div class="portfolio-content">
                        <h5><a href="#">WATER FLOW CALCULATOR AND OPTIMIZER FOR RURAL AND MUNICIPAL FIRE FIGHTING.</a></h5>
                        <span>&nbsp;</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>