<div id="portfolio" class="slide container-fluid bg-white">
    <div class="row pad1">
        <div class="redHeading text-center red">
            <span style="background:#E8E8E8">What we Do</span>
        </div>
        <!--<div class="focusAreas pad2"></div>-->
        <div class="gallery col-md-12">
            <div class="row row-centered">
                <div class="col-xs-6 col-sm-4 col-md-3 item col-centered" style="background-image: url(pics/gallery/find.png)">
                    <div class="thumb"></div>
                    <div class="info">
                        <div>Search & Rescue Mission Tools</div>
                        <a class="btn btn-default btn-md mar0" href="http://www.azimuth1.com/blog/find_sar_sim.html">
                            <i class="fa fa-compass"></i> More about <em>FIND</em> SAR tools</a>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 item col-centered" style="background-image: url(pics/gallery/sarcat.png)">
                    <div class="thumb"></div>
                    <div class="info">
                        <div>Open Source Search & Rescue Incident Records Management</div>
                        <a class="btn btn-default btn-md mar0" href="http://sarcat.azimuth1.com/">
                            <i class="fa fa-globe"></i> Go to SARCAT</a>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 item col-centered" style="background-image: url(pics/gallery/lpb.png)">
                    <div class="thumb"></div>
                    <div class="info">
                        <div>
                            <p>Search & Rescue Field Guide for First Responders</p>
                        </div>
                        <div clas="row mar0">
                            <div>
                                <a href="https://itunes.apple.com/us/app/lost-person-behavior/id958063238" target="_blank">
                                    <img src="pics/itunes.png" style="max-width:120px;display: inline-block;" class="img-responsive">
                                </a>
                                <a href="https://play.google.com/store/apps/details?id=com.azimuth_1.lpb&hl=en" target="_blank">
                                    <img src="pics/android.png" style="max-width:120px;display: inline-block;" class="img-responsive">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 item col-centered" style="background-image: url(pics/gallery/spatialize.png)">
                    <div class="thumb"></div>
                    <div class="info">GeoData at your fingertips</div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 item col-centered" style="background-image: url(pics/gallery/smartdata.png)">
                    <div class="thumb"></div>
                    <div class="info">
                        <div>Environmental contaminant modeling and remediation planning system</div>
                        <a class="btn btn-default btn-md mar0" href="http://smartdata-solutions.com/">
                            <i class="fa fa-globe"></i> Go to SmartData Solutions</a>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 item col-centered" style="background-image: url(pics/gallery/lfmm.png)">
                    <div class="thumb"></div>
                    <div class="info">Short Term Liquid Fuel Market Modelling</div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 item col-centered" style="background-image: url(pics/gallery/fireroute.png)">
                    <div class="thumb"></div>
                    <div class="info">
                        <div>Water flow calculator and optimizer for rural and municipal fire fighting.</div>
                        <a class="btn btn-default btn-md mar0" href="http://fireroute.us/" target="_blank">
                            <i class="fa fa-fire"></i> fireroute.us</a>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 item col-centered" style="background-image: url(pics/gallery/digitalvista.png)">
                    <div class="thumb"></div>
                    <div class="info">
                        <div>Unmanned aerial system (drone) on-demand data processing for public safety.</div>
                        <a class="btn btn-default btn-md mar0" href="http://digitalvista.co/" target="_blank">
                            <i class="fa fa-binoculars"></i> digitalvista.co</a>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 item col-centered" style="background-image: url(pics/gallery/envimetric2.png)">
                    <div class="thumb"></div>
                    <div class="info">
                        <div>AI that finds where underground contamination is hidden.</div>
                        <a class="btn btn-default btn-md mar0" href="http://www.azimuth1.com/blog/envimetric-announce.html" target="_blank">
                            <i class="fa fa-flask"></i> Learn More</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
