<div id="portfolio" class="slide container-fluid bg-white">
    <div class="row mar6yt">
        <div class="col-md-12 pad4y focusAreas"></div>
    </div>
    <div class="row bg-blue">
        <div class="col-md-12 pad00 text-white text-capitalize bg-blue text-center">
            <h1>SARCAT <br><small>Search & Rescue Incident Database</small></h1>
        </div>
   
            <div class="col-md-12 fullImageRetain" stfyle="background-image: url(pics/gallery/sarcat_product.png)"></div>
     
    </div>
    <div class="row bg-orange">
        <div class="col-md-12 pad00 text-white text-capitalize bg-orange text-center">
            <h1>Lost Person Behavior<br><small>Search & Rescue Field Guide for First Responders</small></h1>
        </div>
    
            <div class="_mar1 col-md-12 fullImageRetain" style="background-image: url(pics/gallery/lpb_product.png)"></div>
      
    </div>
    <!-- <div class="col-md-12" style="background-image: url(pics/gallery/spatialize.png)">
                    <a href="#">
                        <div class="thumb"></div>
                    </a>
                    <div class="info">GeoData at your fingertips</div>
                </div>
                <div class="col-md-12" style="background-image: url(pics/gallery/smartdata.png)">
                    <a href="#">
                        <div class="thumb"></div>
                    </a>
                    <div class="info">real-time data collection, analysis, visualization, mapping, and tracking of soil and groundwater pollution of contaminated properties</div>
                </div>
                <div class="col-md-12" style="background-image: url(pics/gallery/lfmm.png)">
                    <a href="#">
                        <div class="thumb"></div>
                    </a>
                    <div class="info">Short Term Liquid Fuel Market Modelling</div>
                </div>
                <div class="col-md-12" style="background-image: url(pics/gallery/fireroute.png)">
                    <a href="#">
                        <div class="thumb"></div>
                    </a>
                    <div class="info">Search & Rescue Field Guide for First Responders</div>
                </div>-->
</div>
</div>
