<div id="posts" class="slide container-fluid bg-blue">
    <div class="row redHeading text-center red">
        <span style="background:#E8E8E8">Latest Articles</span>
    </div>
    {% for post in site.posts limit: 3 %}
    <div class="mar2 row" style="background-image: url('{{ site.baseurl }}/blog/assets/{{post.path | replace:'_posts/','' | replace:'.md',''}}/header.png'); background-position: right;">
        <div class="col-sm-5 pad2y" style="background:#eee">
            <a href="{{site.baseurl}}{{ post.url }}">
                <div class="text-blue text-capitalize">
                    <h2 class="mar00">{{ post.title}}</h2>
                    <h3 class="small em mar00">{{ post.subtitle }}</h3>
                </div>
                <p class="small em text-turq">{{ site.data.authors[post.author].name }} | {{ post.date | date: "%B %-d, %Y" }}</p>
                <p class="small">
                    {{ post.excerpt | strip_html}}....</p>
                <div class="text-center">
                    <a class="btn btn-default" href="{{site.baseurl}}{{ post.url }}" role="button">MORE</a>
                </div>
            </a>
        </div>
    </div>
    <hr> {% endfor %}
    <div class="text-center mar4">
        <a role="button" class="btn btn-md btn-default" href="{{ site.baseurl }}/blog/">More Posts</a>
    </div>
</div>
