<section class="related-project  pb-70">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-6 mb-30 grid-item cat-two">
                <div class="portfolio-wrapper">
                    <div class="portfolio-thumb">
                        <img src="{{site.baseurl}}/pics/gallery/fireroute.png" class="img-fluid" alt="">
                    </div>
                    <div class="portfolio-content">
                        <h5><a href="#">UNMANNED AERIAL SYSTEM (DRONE) ON-DEMAND DATA PROCESSING FOR PUBLIC SAFETY.</a></h5>
                        <span>&nbsp;</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 mb-30 grid-item cat-two">
                <div class="portfolio-wrapper">
                    <div class="portfolio-thumb">
                        <img src="{{site.baseurl}}/pics/gallery/envimetric2.png" class="img-fluid" alt="">
                    </div>
                    <div class="portfolio-content">
                        <h5><a href="#">AI RECOMMENDER FOR ENVIRONMENTAL REMEDIATION INVESTIGATION.</a></h5>
                        <span>&nbsp;</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 mb-30 grid-item cat-two">
                <div class="portfolio-wrapper">
                    <div class="portfolio-thumb">
                        <img src="{{site.baseurl}}/pics/gallery/quickroute.png" class="img-fluid" alt="">
                    </div>
                    <div class="portfolio-content">
                        <h5><a href="#">EMERGENCY VEHICLE ROUTING FOR FIRST RESPONDERS.</a></h5>
                        <span>&nbsp;</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>