<section class="slider-area">
    <div class="slider-active">
        <div class="single-slider slider-bg d-flex align-items-center" style="background-image:url({{site.baseurl}}/assets/img/slider/bg-compass.jpg)">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider-content">
                            <h1 data-animation="fadeInDown" data-delay=".2s">The science of <br> <span>better decisions</span></h1>
                            <p data-animation="fadeInLeft" data-delay=".4s">You will get the results you need when you trust us to lead the way.
                              <br>Azimuth1 analysts and developers are experts at solving mission critical needs using innovation,
                              <br>data analytics, and geospatial technologies.</p>
                            <a href="#" class="btn" data-animation="fadeInUp" data-delay=".6s">our process</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-slider slider-bg d-flex align-items-center" style="background-image:url({{site.baseurl}}/assets/img/slider/bg-earth.jpg)">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider-content">
                            <h1 data-animation="fadeInUp" data-delay=".2s">See your world <br> <span>more clearly</span></h1>
                            <p data-animation="fadeInLeft" data-delay=".4s">You will make better decisions with the insight that comes from
                              <br> in-depth analysis of the systems and data that surround your operations. Azimuth1 analysts and developers
                              <br> are experts at solving mission critical needs using innovation, data analytics, and geospatial technologies.</p>
                            <a href="#" class="btn" data-animation="fadeInUp" data-delay=".6s">our process</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="single-slider slider-bg d-flex align-items-center" style="background-image:url({{site.baseurl}}/assets/img/slider/slider3.jpg)">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider-content">
                            <h1 data-animation="fadeInUp" data-delay=".2s">The science of <br> <span>better decisions</span></h1>
                            <p data-animation="fadeInLeft" data-delay=".4s">Azimuth1 analysts and developers are experts at solving mission critical needs using innovation,
                              <br> data analytics, and geospatial technologies.</p>
                            <a href="#" class="btn" data-animation="fadeInUp" data-delay=".6s">our process</a>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</section>
