<section class="team-area grey-bg pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 text-center pb-40">
                <div class="section-title service-title">
                    <h2>TEAM MEMBERS</h2>
                    <p>We are always looking for smart, motivated, and creative individuals to join our growing team. Feel free to reach out to us at anytime at contact@azimuth1.com!</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-6 mb-30">
                <div class="single-team text-center "  >
                    <div class="team-img">
                        <img src="{{site.baseurl}}/pics/bios/team_oct2017.jpg" alt="" height="255px">
                    </div>
                    <div class="team-info">
                        <h3>The Azimuth1 Team</h3>
                        <span>Web Designer</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 mb-30">
                <div class="single-team text-center "  >
                    <div class="team-img">
                        <img src="{{site.baseurl}}/pics/bios/jason-dalton-photo.jpg" alt="">
                    </div>
                    <div class="team-info">
                        <h3>Jason Dalton</h3>
                        <span>Founder, CEO</span>
                        <!-- <span>jason.dalton@azimuth1.com</span> -->
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 mb-30">
                <div class="single-team text-center "  >
                    <div class="team-img">
                        <img src="{{site.baseurl}}/pics/bios/kyle-kalwarski-photo.jpg" alt="">
                    </div>
                    <div class="team-info">
                        <h3>Kyle Kalwarski</h3>
                        <span>Sr Software Developer</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 mb-30">
                <div class="single-team text-center "  data-wow-delay=".8s">
                    <div class="team-img">
                        <img src="{{site.baseurl}}/pics/bios/anna-milligan-photo.jpg" alt="">
                    </div>
                    <div class="team-info">
                        <h3>Anna Harrington</h3>
                        <span>Environmental Analyst</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 mb-30">
                <div class="single-team text-center "  >
                    <div class="team-img">
                        <img src="{{site.baseurl}}/pics/bios/robert_profile_pic.jpg" alt="">
                    </div>
                    <div class="team-info">
                        <h3>Robert Sellers</h3>
                        <span>Data Scientist</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 mb-30">
                <div class="single-team text-center "  >
                    <div class="team-img">
                        <img src="{{site.baseurl}}/pics/bios/ryan-velazquez-photo.jpg" alt="">
                    </div>
                    <div class="team-info">
                        <h3>Ryan Velazquez</h3>
                        <span>Data Scientist</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
