<div class="clients-area pt-50 pb-50">
    <div class="container">
        <div class="row">
            <div class="clients-active owl-carousel">
                <div class="col-sm-12">
                    <div class="single-clients">
                        <img src="{{site.baseurl}}/assets/img/flags/Dalton-IcelandAug2015.jpg" class="img-fluid" alt="">
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="single-clients">
                        <img src="{{site.baseurl}}/assets/img/flags/Anna-Peaks-Dec2019.jpg" class="img-fluid" alt="">
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="single-clients">
                        <img src="{{site.baseurl}}/assets/img/flags/Kara-Glacier-July2015.jpg" class="img-fluid" alt="">
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="single-clients">
                        <img src="{{site.baseurl}}/assets/img/flags/Kyle-Bahamas-May2015.jpg" class="img-fluid" alt="">
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="single-clients">
                        <img src="{{site.baseurl}}/assets/img/flags/Dalton-StLouisArch-2016.jpg" class="img-fluid" alt="">
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="single-clients">
                        <img src="{{site.baseurl}}/assets/img/flags/Kyle-Arizona-April2015.jpg" class="img-fluid" alt="">
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="single-clients">
                        <img src="{{site.baseurl}}/assets/img/flags/Dalton-Salzburg-2019.jpg" class="img-fluid" alt="">
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
