---
layout: template
---



<div class="container bg-white pad4y">
    {% for post in paginator.posts %}
  
    <div class="mar2y row" style="background-image: url('/blog/assets/{{post.path | replace:'_posts/','' | replace:'.md',''}}/header.png')">
   
        <div class="col-sm-5 pad4y" style="background:#eee">
            <div class="text-blue text-capitalize">
                 <a href="{{site.baseurl}}{{ post.url }}"><h1>{{ post.title}}</h1></a>
                <h3 class="small em mar00">{{ post.subtitle }}</h3>
            </div>
            <p class="small em text-turq">{{ site.data.authors[post.author].name }} | {{ post.date | date: "%B %-d, %Y" }}</p>
            <p class="small">
                {{ post.excerpt | strip_html}}....</p>
            <a href="{{site.baseurl}}{{ post.url }}">
                <div class="text-center">
                    <a class="btn btn-default" href="{{site.baseurl}}{{ post.url }}" role="button">MORE</a>
                </div>
            </a>
        </div>
        
    </div>
    <hr> {% endfor %}
    <!-- Pager -->
    {% if paginator.total_pages > 1 %}
    <ul class="pager">
        {% if paginator.previous_page %}
        <li class="previous">
            <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
        </li>
        {% endif %} {% if paginator.next_page %}
        <li class="next">
            <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
        </li>
        {% endif %}
    </ul>
    {% endif %}
</div>
