---
layout: template
---

{% assign author = site.data.authors[page.author] %}
{%  if author %}
{% else %}
{% assign author = site.data.authors[azimuth1] %}
{% assign assets = '{{page.baseurl}}/blog/assets/{{page.date | date: "%Y-%m-%d"}}-{{page.id | replace:'/','-' | replace:'-blog-','' | }}' %}

{% endif %}




    <div class="slide container-fluid bg-white postPage">
        <div class="row blogBgImage" style="background-image: url('{{site.baseurl}}/blog/assets/{{page.date | date: "%Y-%m-%d"}}-{{page.id | replace:'/','-' | replace:'-blog-','' | }}/header.png'); ">
        <div class="row blogBgImage" style="background-color: {{page.replaceHeaderImage}}">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12" style="padding-top:50px;">
                <div style="color:{{page.headerColor}}">
                    <div class="page-header">
                        <h1>{{page.title}} <br><small>{{ page.subtitle }}</small></h1>
                        <h3>Posted by {{ author.name }} on {{ page.date | date: "%B %-d, %Y" }}</h3>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="row pad1">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12 pad00 pad4y">
              <span class='st_linkedin' displayText='LinkedIn'></span>
              <span class='st_twitter' displayText='Tweet'></span>
              <span class='st_facebook' displayText='Facebook'></span>
                {{ content }}
                <hr>
                <div class="row">
                    Written by <a href="{{ author.web }}" target="_blank">{{ author.name }}</a> </br>
                    <a href="http://www.twitter.com/{{author.twitter}}">
                    Follow {{ author.pronoun }} on Twitter
                </a>
                    </span>
                </div>
                <ul class="pager">
                    {% if page.previous.url %}
                    <li class="previous">
                        <a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}">&larr; Previous Post</a>
                    </li>
                    {% endif %} {% if page.next.url %}
                    <li class="next">
                        <a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.next.title}}">Next Post &rarr;</a>
                    </li>
                    {% endif %}
                </ul>
                <!--HubSpot Call-to-Action Code -->
<span class="hs-cta-wrapper" id="hs-cta-wrapper-a2f764cb-6cd6-40cf-b30b-cc6f4b75364a">
    <span class="hs-cta-node hs-cta-a2f764cb-6cd6-40cf-b30b-cc6f4b75364a" id="hs-cta-a2f764cb-6cd6-40cf-b30b-cc6f4b75364a">
        <!--[if lte IE 8]><div id="hs-cta-ie-element"></div><![endif]-->
        <a href="http://cta-redirect.hubspot.com/cta/redirect/1981944/a2f764cb-6cd6-40cf-b30b-cc6f4b75364a"  target="_blank" ><img class="hs-cta-img" id="hs-cta-img-a2f764cb-6cd6-40cf-b30b-cc6f4b75364a" style="border-width:0px;" src="https://no-cache.hubspot.com/cta/default/1981944/a2f764cb-6cd6-40cf-b30b-cc6f4b75364a.png"  alt="Learn more!"/></a>
    </span>
    <script charset="utf-8" src="https://js.hscta.net/cta/current.js"></script>
    <script type="text/javascript">
        hbspt.cta.load(1981944, 'a2f764cb-6cd6-40cf-b30b-cc6f4b75364a', {});
    </script>
</span>
<!-- end HubSpot Call-to-Action Code -->
            </div>

        </div>
    </div>
