---
layout: template
published: true
---


<div id="blog" class="slide center">
    <div class="container">

        <h1 class="red">{{ page.title }}</h1>

        <div class="entry">
            {{ content }}
        </div>

        <div class="date text-muted">
            Written by 
          {% assign author = site.data.authors[page.author] %}
			<a rel="author"  href="{{ author.twitter }}" title="{{ author.name }}">
                 {{ author.name }}
            </a>  {{ page.date | date: "%B %e, %Y" }}
        </div>

        {% include disqus.html %}

    </div>
</div>
