<!doctype html>
<html>
{% include head.html %}

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" data-spy="affix" data-offset-top="60" data-offset-bottom="200">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand pad00 mar0x" href="/">
                    <img height="40" src="{{ site.baseurl }}/pics/logo2.png" alt="logo" class="_logo_main" />
                </a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li data-slide="#home"><a href="{{ site.baseurl }}/">Home</a> </li>
                    <li data-slide="#_portfolio"><a href="{{ site.baseurl }}/#portfolio">Portfolio</a> </li>
                    <li data-slide="#about"><a href="{{ site.baseurl }}/about.html">About</a> </li>
                    <li data-slide="#blog"><a href="{{ site.baseurl }}/blog/">Blog</a> </li>
                    <li data-slide="#careers"><a href="{{ site.baseurl }}/careers.html">Careers</a> </li>
                    <li><a href="http://info.azimuth1.com/?hsCtaTracking=2d193d77-9ae3-426c-9d18-659f4651a259%7C1a0a0b2b-1b7f-41a7-87fa-b09fd7665710">Contact</a> </li>
                </ul>
            </div>
        </div>

    </nav>
    {{ content }}

    {% include footer.html %}

{% include analytics.html %}

</html>
