<!doctype html>
<html>
{% include head.html %}

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" data-spy="affix" data-offset-top="60" data-offset-bottom="200">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand pad00 mar0x" href="/">
                    <img height="40" src="{{ site.baseurl }}/pics/logo2.png" alt="logo" class="_logo_main" />
                </a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li data-slide="#home"><a href="{{ site.baseurl }}/">Home</a> </li>
                    <li data-slide="#_portfolio"><a href="{{ site.baseurl }}/#portfolio">Portfolio</a> </li>
                    <li data-slide="#about"><a href="{{ site.baseurl }}/about.html">About</a> </li>
                    <li data-slide="#blog"><a href="{{ site.baseurl }}/blog/">Blog</a> </li>
                    <li data-slide="#_contact"><a href="{{ site.baseurl }}/#contact">Contact</a> </li>
                    <li>
                    <!--HubSpot Call-to-Action Code -->
<span class="hs-cta-wrapper" id="hs-cta-wrapper-2d193d77-9ae3-426c-9d18-659f4651a259">
    <span class="hs-cta-node hs-cta-2d193d77-9ae3-426c-9d18-659f4651a259" id="hs-cta-2d193d77-9ae3-426c-9d18-659f4651a259">
        <!--[if lte IE 8]><div id="hs-cta-ie-element"></div><![endif]-->
        <a href="http://cta-redirect.hubspot.com/cta/redirect/1981944/2d193d77-9ae3-426c-9d18-659f4651a259"  target="_blank" ><img class="hs-cta-img" id="hs-cta-img-2d193d77-9ae3-426c-9d18-659f4651a259" style="border-width:0px;" src="https://no-cache.hubspot.com/cta/default/1981944/2d193d77-9ae3-426c-9d18-659f4651a259.png"  alt="Request a Consultation or Demo"/></a>
    </span>
    <script charset="utf-8" src="https://js.hscta.net/cta/current.js"></script>
    <script type="text/javascript">
        hbspt.cta.load(1981944, '2d193d77-9ae3-426c-9d18-659f4651a259', {});
    </script>
</span>
<!-- end HubSpot Call-to-Action Code -->
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    {{ content }} 

    {% include footer.html %}
<!-- Start of Async HubSpot Analytics Code -->
  <script type="text/javascript">
    (function(d,s,i,r) {
      if (d.getElementById(i)){return;}
      var n=d.createElement(s),e=d.getElementsByTagName(s)[0];
      n.id=i;n.src='//js.hs-analytics.net/analytics/'+(Math.ceil(new Date()/r)*r)+'/1981944.js';
      e.parentNode.insertBefore(n, e);
    })(document,"script","hs-analytics",300000);
  </script>
<!-- End of Async HubSpot Analytics Code -->
</body>
{% include analytics.html %}

</html>
